<div class="container-fluid">
  <div class="row">
    <div class="col-12 d-flex justify-content-center " style="background-color: #343a40; height: 200px">
      <img class="align-self-center" src="https://ulbra-to.br/vestibular/Ciencia-da-Computacao/logo-curso.png" style="height: 125px">
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <form #dadosMatriz="ngForm">
      <div class="col-4">
        <label for="grid">
          <select class="custom-select form-control" id="grid" name="grid" [(ngModel)]="grid">
            <option >Selecione o grid</option>
            <option value="6">6 x 6</option>
            <option value="8">8 x 8</option>
            <option value="10">10 x 10</option>
          </select>
        </label>
      </div>
      <div class="col-4">
        <label for="limit">
          <select class="custom-select" id="limit" name="limit" [(ngModel)]="limit">
            <option value="">Selecione um valor</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
        </label>
      </div>
      <div class="col-2">
        <button class="btn btn-dark" style="width: 100px" (click)="GerarMatrix(dadosMatriz)">Gerar Tabela</button>
      </div>
      <div *ngIf="buttom == 'alterar'" class="col-2">
        <button class="btn-sm btn-dark" style="width: 100px" (click)="AlteraCelula()">Alterar célula aleatória</button>
      </div>
      <div *ngIf="buttom == 'prosseguir'" class="col-2">
        <button class="btn btn-dark" style="width: 100px" (click)="Avalanche()">Prosseguir</button>
      </div>
    </form>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="col-6">
        <table id="matrix" class="table table-bordered">
          <tr *ngFor="let linha of matriz">
            <th *ngFor="let coluna of linha">
              {{ coluna }}
            </th>
          </tr>
        </table>
      </div>
      <div class="col-4 mt-3 d-flex justify-content-center">
        <dl id="lista">
          <dt *ngFor="let avalanche of listaDeAvalanches">
            {{ avalanche }}
          </dt>
        </dl>
      </div>
    </div>
  </div>
</div>
